.grid {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
  height: 100vh;
}
.sidebar {
  padding: 1rem;
}
.container {
  padding: 1rem 2rem;
}
.btn {
  margin-top: 1em;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1.2rem;
  background: #ff740a;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
}
.btn:hover {
  background: #a13a02;
  text-decoration: none;
  cursor: pointer;
}
.mention {
  background-color: white;
  user-select: text;
}
