.sidebar {
  padding: 1rem;
}
.sidebar__content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar__control {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}
.sidebar__control button {
  padding: 0.5rem;
  cursor: pointer;
  color: grey;
  font-size: 1.2rem;
  background-color: initial;
  border: 1px solid transparent;
}
.sidebar__control button:hover {
  background-color: #f0f2f6;
  border-color: #1d2124;
}
.container {
  padding: 1rem 2rem;
}
.btn {
  width: 7rem;
  margin-top: 1em;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1.2rem;
  background: #ff740a;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
}
.btn:hover {
  background: #a13a02;
  text-decoration: none;
  cursor: pointer;
}
.ql-mention-list-container {
  width: 1200px;
}
.ql-mention-list-container-top {
  top: 0;
}
.mention {
  background-color: white;
  user-select: text;
}
